body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.birthday-container {
    background-color: #56b93b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.birthday-container h1 {
    color: #d32f2f;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.birthday-container p {
    color: #333;
    font-size: 1.2em;
}